# These credentials are intentionally included as this is a public technical challenge.
VITE_API_BASE_URL=https://prueba-tecnica-api-tienda-moviles.onrender.com/api
VITE_API_KEY=87909682e6cd74208f41a6ef39fe4191