@use 'variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: $font-size-base;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $font-family;
  color: $color-text;
  background-color: $color-background;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: $font-family;
}

ul,
ol {
  list-style: none;
}

input {
  font-family: $font-family;
}

.main-content {
  margin-top: $navbar-height;
}
