@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.content {
  padding-bottom: $spacing-xxl * 2;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  font-size: $font-size-base;
  color: $color-error;
}