@use '@/styles/variables' as *;

.container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.content {
  animation: fadeIn 1.3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  font-size: $font-size-base;
  color: $color-error;
}
